* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.filters-fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.map-fixed {
    position: fixed;
    top: 93px;
    right: 0;
}

.fade {
    -webkit-animation-name: fade;
    -moz-animation-name: fade;
    -o-animation-name: fade;
    animation-name: fade;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from{opacity: .4}
    to{opacity: 1;}
}

@keyframes fade {
    from{opacity: .4}
    to{opacity: 1;}
}

.navbar {
    background: #0084BA;
    text-transform: capitalize;
}

.navbar-wrap {
    display: flex;
    align-items: center;
    padding: 12px 17px 13px 16px;
    justify-content: space-between;
}

.navbar__city-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 630px;
}

.navbar__logo-button {
    display: flex;
    align-items: center;
}

.navbar__menu-button {
    background: none;
    border: none;
    height: 36px;
    width: 26px;
    display: none;
}

.navbar__menu-line {
    display: block;
    width: 26px;
    height: 6px;
    background-color: #fff;
    margin: 2px 0;
}

.navbar__navigation {
    display: flex;
    align-items: center;
}

.navbar__logo {
    flex-shrink: 0;
}

.navbar__search {
    display: flex;
    align-items: center;
    width: 500px;
}

.navbar__search-field {
    width: 380px;
    padding: 13px 0 18px 47px;
    border: 1px solid #C2C2C2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff url("../assets/images/search.png") no-repeat center left 16px;
}

.navbar__search-field::placeholder {
    font: 16px / 20px "Source Sans Pro", sans-serif;
    color: #000000;
    opacity: 1;
}

.navbar__city-list {
    background: url("../assets/images/chevron-down.png") no-repeat bottom 3px right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding-right: 14px;
    font: 600 16px / 20px "Source Sans Pro", sans-serif;
    color: #FFFFFF;
    margin-left: 21px;
}

.navbar__links-list {
    display: flex;
    align-items: center;
    width: 266px;
    justify-content: space-between;
    padding: 0;
}

.navbar__link, .navbar__link:visited {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__link .navbar__links-text, .navbar__link:visited .navbar__links-text {
    font: 600 16px / 20px "Source Sans Pro", sans-serif;
    color: #FFFFFF;
}

.navbar__links-icon {
    margin-right: 6px;
}

.navbar__links_mobile {
    display: none;
}

.navbar__account-button {
    display: flex;
    align-items: center;
    width: 134px;
    padding: 0;
    justify-content: space-between;
    text-transform: capitalize;
    font: 600 16px / 20px "Source Sans Pro", sans-serif;
    color: #FFFFFF;
    border: none;
    background: none;
    margin-left: 43px;
}

.navbar__signing-icon {
    margin-right: 6px;
}

.main-menu {
    background: #0098D7;
}

.main-menu__links {
    padding: 10px 0;
}

.main-menu__links-list {
    margin: 0 auto;
    width: 100%;
    max-width: 840px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font: 600 18px / 24px "Source Sans Pro", sans-serif;
}

.main-menu__link, .main-menu__link:visited {
    color: #ffffff;
}

.title__category {
    padding: 9px 65px 9px 28px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.title__category-value, .title__category-value:visited {
    font: 14px / 16px "Source Sans Pro", sans-serif;
    color: #1C2E36;
}

.right-arrow {
    font: 18px / 22px "Actor", sans-serif;
    color: #E26D5A;
    margin: 0 5px;
}

.title__text {
    margin: 18px 0;
    padding-left: 28px;
    font: 40px / 44px "Actor", sans-serif;
    color: #1C2E36;
    text-transform: capitalize;
}

.slider {
    max-height: 416px;
    min-height: 100px;
    height: 100%;
    position: relative;
}

.slider__item {
    display: none;
}

.slider__item.active-picture {
    display: block;
}

.slider__picture {
    height: 100%;
    max-height: 416px;
}

.slider__button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 26px);
}

.button-prev {
    left: 50px;
}

.button-next {
    right: 50px;
}

.slider__picture {
    width: 100%;
}

.filters {
    border-bottom: 1px solid #E2E2E2;
}

.filters-wrap {
    display: flex;
    align-items: center;
    padding: 18px 0 18px 28px;
    background: #fff;
}

.filters__title {
    text-transform: capitalize;
    font: 24px / 46px "Actor", sans-serif;
    color: #1C2E36;
    margin: 0 38px 0 0;
}

.filters__form {
    display: flex;
    align-items: center;
}

.filters__list {
    padding: 18px 45px 19px 5px;
    border: 1px solid #C2C2C2;
    border-radius: 3px;
    text-transform: capitalize;
    font: 14px / 18px "Source Sans Pro", sans-serif;
    color: #666666;
    background: url("../assets/images/chevron-down-black.png") no-repeat center right 7px;
}

.filters__list:first-child {
    margin-right: 119px;
}

.filters__list:last-child {
    margin-left: 16px;
}

.filters__buttons {
    display: none;
}

.filters_mobile {
    width: 80%;
    margin-left: 0;
    height: 100vh;
    padding: 18px 23px 0 14px;
    display: none;
}

.filters-close {
    font: 600 12px / 15px "Source Sans Pro", sans-serif;
    color: #1C2E36;
    border: none;
    padding-right: 10px;
    margin-left: 210px;
    background: url("../assets/images/times.png") no-repeat top 6px right;
}

.filters__category-title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filters__black-rect {
    width: 13px;
    height: 4px;
    background: #000;
}

.filters__category {
    padding-bottom: 16px;
    border-bottom: 1px solid #ECECEC;
}

.filters__category_last {
    border: none;
}

.filters__category-title {
    margin-top: 20px;
    font: 16px / 25px "Actor", sans-serif;
    color: #1C2E36;
    text-transform: capitalize;
    display: block;
}

.filter_mobile {
    display: block;
    margin-top: 7px;
    font: 16px / 27px "Source Sans Pro", sans-serif;
    color: #1C2E36;
}

.filters__buttons-wrap_mobile {
    margin-top: 20px;
}

.filter__button_mobile {
    width: 120px;
    height: 48px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: capitalize;
    font: 16px / 19px "Actor", sans-serif;
    cursor: pointer;
}

.filter__reset {
    color: #0084BA;
    background: #ffffff;
    border: 1px solid #0084BA;
    border-radius: 3px;
}

.filter__go {
    color: #FFFFFF;
    background: #0084ba;
    border-radius: 3px;
}

.content {
    display: flex;
}

.cards {
    width: 50%;
    padding: 20px;
}

.cards__main-wrap {
    max-width: 654px;
    width: 100%;
    margin: 0 auto;
}

.cards-wrap {
    display: flex;
    justify-content: space-between;
}

.cards__text {
    margin: 18px auto;

}

.cards__results {
    font: 14px / 18px "Source Sans Pro", sans-serif;
    color: #1C2E36;
    text-transform: capitalize;
}

.cards__sort {
    font: 14px / 18px "Source Sans Pro", sans-serif;
    color: #1C2E36;
    text-transform: capitalize;
    padding: 0 18px 0 0;
    background: url("../assets/images/chevron-down-black.png") no-repeat bottom 3px right 3px;
    border: none;
}

.cards__list {
    display: flex;
    flex-flow: wrap;
    padding: 0;
}

.cards__item {
    width: calc((100% - 40px) / 3);
    margin-right: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards__item:nth-child(3n) {
    margin-right: 0;
}

.cards__title {
    font: 19px / 22px "Actor", sans-serif;
    color: #1C2E36;
    margin-top: 13px;
}

.cards__picture {
    height: 100%;
    min-height: 139px;
}

.cards__price {
    margin-top: auto;
    font: 18px / 21px "Actor", sans-serif;
    color: #0084BA;
}

.map {
    width: 50%;
    height: 100vh;
}

@media screen and (min-width: 768px) and (max-width: 1065px){
    .navbar__menu-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar__city-list, .navbar__links {
        display: none;
    }

    .navbar__city-search {
        width: 520px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar__logo {
        margin-left: 30px;
    }

    .navbar__search {
        width: 297px;
    }

    .navbar__account-button {
        margin-left: 0;
    }

    .header {
        z-index: 2;
        position: relative;
    }

    .main-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: -1;
        width: 100%;
        transform: translateY(-100%);
        transition: transform .25s;
    }

    .main-menu.opened {
        transform: translateY(0%);
    }

    .filters-wrap {
        justify-content: space-between;
    }

    .filters__form {
        margin-right: 20px;
        width: 425px;
        justify-content: space-between;
    }

    .filters__list, .filters__list:first-child, .filters__list:last-child {
        margin: 0;
    }

    .cards {
        padding: 13px;
    }

    .cards__item {
        width: calc((100% - 13px) / 2);
        margin-right: 13px;
    }

    .cards__item:nth-child(2n) {
        margin-right: 0;
    }
}

@media screen and (max-width: 767px){
    .navbar__search, .navbar__links, .navbar__account, .filters__form, .cards__results, .cards__sort {
        display: none;
    }

    body {
        position: relative;
    }

    .header {
        z-index: 2;
        position: relative;
    }

    .main-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: -1;
        width: 100%;
        transform: translateY(-100%);
        transition: transform .25s;
    }

    .main-menu.opened {
        transform: translateY(0%);
    }

    .main-menu__links-list {
        flex-direction: column;
        padding-left: 0;
    }

    .navbar__menu-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar__logo {
        margin-left: 20px;
    }

    .navbar__links_mobile {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 140px;
    }

    .button_no-bg {
        background: none;
        border: none;
    }

    .filters {
        border: none;
        z-index: 2;
    }

    .filters-main-wrap {
        background: #fff;
        padding-bottom: 10px;
        width: 100%;
    }

    .filters__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .filters__map, .filters__cards {
        margin-left: 28px;
        background: none;
        padding: 9px 15px;
        text-align: center;
        font: 600 12px / 15px "Source Sans Pro", sans-serif;
        color: #666666;
    }

    .filters__filter {
        margin-right: 28px;
        font: 600 12px / 15px "Source Sans Pro", sans-serif;
        padding: 8px 15px 9px 8px;
        color: #666666;
        background: url("../assets/images/arrow-right.png") no-repeat center right 7px;
    }

    .filters_mobile {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        background: #fff;
        z-index: 11;
        transform: translateX(100%);
        -webkit-transition: transform .25s;
        -moz-transition: transform .25s;
        -ms-transition: transform .25s;
        -o-transition: transform .25s;
        transition: transform .25s;
    }

    .fade-block {
        background: rgba(0, 0, 0, 0.71);
        width: 20%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: transform .25s;
        z-index: 11;
    }
    
    .fade-block.fade-open {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }

    .filters_mobile.filters-opened {
        transform: translateX(0%);
    }

    .map.map-fixed {
        position: relative;
        z-index: 1;
    }

    .cards, .map, .filters__cards, .filters__map {
        display: none;
    }

    .active-content-button {
        display: block;
    }

    .active-content {
        display: block;
        width: 100vh;
    }

    .cards {
        padding: 20px;
    }

    .cards__item {
        width: calc((100% - 40px) / 3);
        margin-right: 20px;
    }

    .cards__item:nth-child(3n) {
        margin-right: 0;
    }
}
