$bg-white: rgba(255, 255, 255, 0.95)
$main-font-family: "Roboto", sans-serif
$main-font: 500 42px / 42px $main-font-family
$color-black: #000000
$color-white: #ffffff
$color-on-hover: #BDB76B

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

body
  margin: 0
  padding: 0
  text-decoration: none

.container
  width: 100%
  max-width: 840px
  margin: 0 auto